#dinosaur{
  position: absolute;
  width: 60px;
  height: 120px;
  background-color: blue;
  margin-left: 100px;
  margin-top: 260px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
#d1{
  position: absolute;
  width: 15px;
  height: 75px;
  background-color: black;
  margin-left: 1249px;
  margin-top: 305px;
}
#d2{
  position: absolute;
  width: 15px;
  height: 75px;
  background-color: black;
  margin-left: 900px;
  margin-top: 305px;
}
#d3{
  position: absolute;
  width: 15px;
  height: 75px;
  background-color: black;
  margin-left: 550px;
  margin-top: 305px;
}
#start{
  position: absolute;
  width: 250px;
  padding: 30px;
  font-size: 30px;
  font-family: cursive;
  text-align: center;
  background-color: #00ff88;
  color: #fff;
  margin-left: 20px;
  border: 5px solid green;
  margin-top: 450px;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
}
#score{
  width: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: absolute;
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  font-weight: 900;
  background-color: red;
  border: 5px solid #a00;
  border-right-width: 0px;
  border-top-width: 0px;
  margin-top: 0px;
  right: 0px;
}
#back{
  position: absolute;
  width: 100px;
  border-radius: 20px;
  border: 3px solid black;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  color: black;
  background-color:	#00FF7F;
  padding-top: 15px;
  padding-bottom: 15px;
  right: 31px;
  margin-top: 530px;
  border-bottom-right-radius: 0px;
}
#reload{
  position: absolute;
  width: 120px;
  border-radius: 20px;
  border: 5px solid #00FFFF;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  color: black;
  background-color:	#00337F;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 370px;
  margin-top: 522px;
  border-bottom-left-radius: 0px;
}
span{
  color: red;
}
