body{
  background-image: url("../../imgs/imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin:0;
  padding:0;
  color: black;
}
#go{
  position: absolute;
  cursor: pointer;
  bottom: 9vw;
  left: 16vw;
  text-align: center;
  padding-top: 0.7vw;
  padding-bottom: 0.7vw;
  width: 11vw;
  background: #008080;
  border: 0.15vw solid #2d2;
  border-radius: 0.35vw;
  font-size: 2.3vw;
  font-weight: 400;
  font-family: cursive;
}
#reload{
  position: absolute;
  width: 9vw;
  border-radius: 1.5vw;
  border: 0.35vw solid #00FFFF;
  text-align: center;
  font-family: cursive;
  font-size: 2.1vw;
  color: black;
  background-color:	#00337F;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  bottom: 2.5vw;
  left: 2.5vw;
  border-bottom-left-radius: 0px;
}
#back{
  position: absolute;
  width: 7.5vw;
  border-radius: 1.5vw;
  border: 0.2vw solid black;
  text-align: center;
  font-family: cursive;
  font-size: 2.2vw;
  color: black;
  background-color:	#00FF7F;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  bottom: 2.5vw;
  right: 2.5vw;
  border-bottom-right-radius: 0px;
}
#back1{
  position: absolute;
  visibility: hidden;
  width: 200px;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  color: black;
  height: 30px;
  margin-left: 70%;
  margin-top: 494px;
}
#the_div{
  position: absolute;
  top: 0px;
  left:0px;
  height: 29.35vw;
  width: 29.35vw;
  border-right: 0.3vw solid black;
  border-bottom: 0.3vw solid black;
  border-bottom-right-radius: 0.6vw;
  background:	#1E90DD;
}
#the_div1{
  position: absolute;
  top: 0px;
  left:0px;
  height: 29.35vw;
  width: 29.35vw;
  border-right: 0.3vw solid black;
  border-bottom: 0.3vw solid black;
  border-bottom-right-radius: 0.6vw;
  z-index: 99;
}
#x-x{
  position: absolute;
  width: 29.35vw;
  height: 1px;
  top: 14.67vw;
  background: black;
  z-index: 97;
}
#y-y{
  position: absolute;
  height: 29.35vw;
  width: 1px;
  left: 14.67vw;
  background: black;
  z-index: 96;
}
