#c{
  position: absolute;
  width: 46.482vw;
<<<<<<< HEAD
  top: 13.41vw;
=======
  top: 15.41vw;
>>>>>>> e72e2d5a82d4e0477a51b73cd89960c8a6a3e96d
  right: 0px;
  height: 10.248vw;
  background:	#9500a0;
  border: 0.2196vw solid white;
  border-right-width: 0px;
  text-align: center;
}
#c-num{
  position: absolute;
  top: 0px
  left: 0px;
  height: 9.748vw;
  width: 12.7318vw;
  border-right: 0.2196vw solid white;
  background:	#9500a0;
  padding-top: 0.5vw;
  text-align: center;
  z-index: 103;
}
#c-brack{
  position: absolute;
  top: 0px;
  left: 12.9514vw;
  height: 100%;
  width: 1.996vw;
  border-right: 0.2196vw solid white;
  background:	#9500a0;
  text-align: center;
  z-index: 102;
}
#c-functions1{
  position: absolute;
  top: 0px;
  left: 15.167vw;
  width: 10.082vw;
  height: 8.548vw;
  background:	#800080;
  border-right: 0.075vw solid #9370DB;
  padding-top: 1.7vw;
  padding-left: 0.5vw;
  text-align: center;
  z-index: 101;
}
#c-functions2{
  position: absolute;
  top: 0px;
  left: 25.824vw;
  width: 20.358vw;
  height: 8.548vw;
  background:	#800080;
  padding-top: 1.7vw;
  padding-right: 0.3vw;
  text-align: center;
  z-index: 100;
}
#c-text{
  position: absolute;
  width: 56.364vw;
<<<<<<< HEAD
  top: 24.656vw;
=======
  top: 26.656vw;
>>>>>>> e72e2d5a82d4e0477a51b73cd89960c8a6a3e96d
  right: 0px;
  height: 7.32vw;
  background: #A370DB;
  border: 0.2196vw solid white;
  border-right-width: 0px;
  border-top-left-radius: 0.732vw;
  border-bottom-left-radius: 0.732vw;
  z-index: 90;
}
#text{
  cursor: context-menu;
  position: absolute;
  background-color: white;
  border: 0.0732vw solid black;
  border-right-width: 0px;
  left: 1.83vw;
  top: 1.098vw;
  width: 54.4608vw;
  font-size: 1.758vw;
  height: 5.124vw;
  color: black;
  font-family: cursive;
  padding-left: 0.732vw;
}
#text-hidden{
  visibility: hidden;
}
#text1{
  position: absolute;
  visibility: hidden;
  background-color: white;
  border: 0.0732vw solid black;
  border-right-width: 0px;
  left: 45.384vw;
  top: 5.124vw;
  width: 53.7288vw;
  font-size: 1.172vw;
  height: 1.83vw;
  font-family: cursive;
  padding-left: 0.732vw;
}
#c-text-hidden{
  position: absolute;
  width: 56.364vw;
<<<<<<< HEAD
  top: 24.656vw;
=======
  top: 26.656vw;
>>>>>>> e72e2d5a82d4e0477a51b73cd89960c8a6a3e96d
  right: 0px;
  height: 7.32vw;
  border: 0.2196vw solid white;
  border-right-width: 0px;
  border-top-left-radius: 0.732vw;
  border-bottom-left-radius: 0.732vw;
  z-index: 80;
}
.num{
  cursor: pointer;
  margin: 0.2vw;
  margin-right: 0vw;
  text-align: center;
  border-width: 0px;
  border-radius: 0.366vw;
  height: 2.7vw;
  width: 2.8vw;
  vertical-align: middle;
  background: #A79EBB;
  font-size: 1.6408vw;
  font-weight: 600;
}
.functions1{
  cursor: pointer;
  margin: 0.22vw;
  margin-right: 0vw;
  text-align: center;
  border-width: 0px;
  border-radius: 0.266vw;
  height: 3vw;
  width: 3.6vw;
  vertical-align: middle;
  background: #87CEEB;
  font-size: 2vw;
  font-weight: 400;
}
.functions2{
  cursor: pointer;
  margin: 0.22vw;
  margin-right: 0vw;
  text-align: center;
  border-width: 0px;
  border-radius: 0.266vw;
  height: 3vw;
  width: 5.756vw;
  vertical-align: middle;
  background: #87CEEB;
  font-size: 1.6408vw;
  font-weight: 400;
}
.lines{
  cursor: pointer;
  margin: 0;
  width: 100%;
  color: black;
  border-width: 0px;
  font-size: 1.758vw;
  background: #A370DB;
}
#line1{
  border-bottom: white 0.1098vw solid;
  height: 5.124vw;
  margin-bottom: 0px;
}
#line2{
  border-top: white 0.1098vw solid;
  height: 5.124vw;
  margin-top: 0px;
}
#ff1{
  padding-top: 0.8vw
}
#ff4{
  padding-top: 0.5vw
}
.functions1:hover{
  background: #80BEEB;
}
.functions2:hover{
  background: #80BEEB;
}
.num:hover{
  background: #9F9EBB;
}
.lines:hover{
  background: #A363DB;
}
