body{
  background-image: url("../../imgs/imgs/background.jpg");
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
  font-family: monospace;
  font-size: 30px;
}
#header{
  padding-top: 50px;
  text-align: center;
  font-family: fantasy;
  font-size: 40px;
  color: #aff;
}
#paragraph1{
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  color: #0c6;
  margin-top: -15px;
}
#d1{
  background-color: #70f;
  height: 250px;
  border: 30px solid #a0f;
  border-right-width: 0px;
  border-left-width: 0px;
  margin-top: 40px;
}
.label{
  background-color: #4af;
  font-family: fantasy;
  font-size: 27px;
  color: #00008B;
  position: absolute;
  text-align:right;
  margin-left: 280px;
  width: 250px;
  height: 35px;
  border-radius: 15px;
  padding-right: 18px;
  padding-top: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.input{
  text-align: center;
  font-size:25px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;
  height:42px;
  position: absolute;
  margin-left: 560px;
}
