body{
  background-image: url("../../imgs/imgs/background.jpg");
  margin: 0;
  padding: 0;
}
#game1{
  position: absolute;
  width: 30%;
  margin-left: 35%;
  margin-top: 200px;
  text-align: center;
  font-size: 80px;
  color: #000;
  background-color: red;
  border: 7px solid orange;
  border-radius: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  font-family: fantasy;
}
#back{
  position: absolute;
  width: 100px;
  border-radius: 20px;
  border: 3px solid black;
  text-align: center;
  font-family: cursive;
  font-size: 30px;
  color: black;
  background-color:	#00FF7F;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 90%;
  margin-top: 530px;
  border-bottom-right-radius: 0px;
}
.mrq2{
  position: absolute;
  font-size: 50px;
  color: #fff;
  width: 110px;
  left: 0px;
}
.marquee2-1{
  height: 100%;
  border: 15px solid #1E0077;
  background-color:	#1E0077;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.marquee2-2{
  height: 100%;
  border-width: 15px ;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
#marquee_div{
  height: 100%;
  border: 25px solid #aa00ff;
  margin-left: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
}
.project{
  position: absolute;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  border: 2px solid black	;
  border-left-width: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: black;
  background: #00FFFF;
  margin-left: 135px;
}
#project1{
  margin-top: 520px;
}
#project2{
  margin-top: 440px;
}
span{
  font-size: 3px;
  color: #1E0077;
}
